<h1>Rock Paper Scissors</h1>
    <h2> <span class="player-color">Player</span><span> vs. </span><span class="computer-color">Computer</span> </h2>
    <h2> <span class="player-color">{{data.playerScore}}</span> - <span class="computer-color">{{data.computerScore}}</span> </h2>

    <div id="button-container">
        <button id="rock-button"
                class="choice-button"
                ng-click="sendData('Rock')"
                ng-model="data.playerChoice">Rock</button>
        <button id="paper-button"
                class="choice-button"
                ng-click="sendData('Paper')"
                ng-model="data.playerChoice">Paper</button>
        <button id="scissors-button"
                class="choice-button"
                ng-click="sendData('Scissors')"
                ng-model="data.playerChoice">Scissors</button> 
    </div>

    <div id="computer-choice" class="message-container">
        <h3 ng-if="data.computer_choice != ''">The <span class="computer-color">Computer</span> chose {{data.computer_choice}} </h3>
    </div>
    <div id="outcome-message" class="message-container">
        <h3 ng-if="data.win_msg != ''">{{c.data.win_msg}}</h3>
    </div>

<div>
  <button class="reset-button" ng-click="reset()"
              ng-if="data.playerScore != 0 || data.computerScore != 0">
  Press To Reset Game
  </button>
</div>